# Node.js with React
# Build a Node.js project that uses React.

trigger:
- master

pool:
  vmImage: ubuntu-latest

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '18.x'
  displayName: 'Use Node.js 18'

- script: |
    npm install
    npm run build
  displayName: 'npm install and build'

